* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(51, 56, 63);
}

h2 {
    font-family: "Micro 5", sans-serif;
    font-size: 120px;
    color: #fca311;
}

.wrapper>.board {
    width: 25%;
    height: 50%;
    padding: 25px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px black;
    background-color: #3d405b;
    border-radius: 10px;
}

.row {
    gap: 25px;
    display: flex;
    flex: 1;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.button {
    height: 100%;
    flex: 1;
    font-size: 45px;
    font-weight: bold;
    color: #fca311;
    background-color: #14213d;
    border-radius: 10px;
    cursor: pointer;
}

.popup {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.386);
    backdrop-filter: blur(0px);
}

.popup.show {
    display: flex;
    backdrop-filter: blur(3px);
}

.popupContainer {
    position: absolute;
    width: 35%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background-color: darkblue;
    -webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.popupButton {
    width: 60%;
    height: 13%;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(252, 163, 17);
    border: 1px solid rgb(252, 163, 17);
    border-radius: 15px;
}

.popupButton:hover {
    cursor: pointer;
    transition: 0.5s;
    color: darkblue;
    background-color: rgb(252, 163, 17);
}

.winner {
    font-size: 6em;
}

@-webkit-keyframes scale-up-ver-center {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes scale-up-ver-center {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}